
#maze-game {
	width: 500px;
	display: block;
}
.row {
	display: block;
}
.cell {
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 1px solid grey;
}
.wall {
	background: black;
}
.empty {
	background: white;
}