h1, p {
	color: #777;
	font-family: sans-serif;
}

.footer {
	border-top: 1px solid #ccc;
	margin-top: 20px;
	font-size: 80%;
}
.blockMaze {
	/* width: 400px; */
}

.blockMaze .b,
.blockMaze .w {
	display: inline-block;
	width: 25px;
	height: 25px;
}

.blockMaze .rotate90 {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
	transform: rotate(90deg);
}

.blockMaze .rotate180 {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
	transform: rotate(180deg);
}

.blockMaze .rotate270 {
	-ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari */
	transform: rotate(270deg);
}

/* .blockMaze {
	border: 2px solid black;
} */

.blockMaze .b { 
	background: white;
	border: 2px solid #fff;
	margin: -1px -1px;
	/* text-align: center; */
	/* font-size: 30px; */
	/* vertical-align: middle; */
	/* padding: 5px 5px; */
	display: table-cell; 
}

/* seasons */
.winter * {
	color: #77ffff;
}
.spring * {
	color: #7cff77;
}
.summer * {
	color: #ffff77;
}
.fall * {
	color: #ffc477;
}
.blockMaze .u { background: #ff7; }
.blockMaze .d { background: #7ff; }
.blockMaze .w { background: #777; border: 2px solid #aaa; }

.blockMaze .top {
	border-top: 2px solid black;
}
.blockMaze .bottom {
	border-bottom: 2px solid black;
}
.blockMaze .right {
	border-right: 2px solid black;
}
.blockMaze .left { 
	border-left: 2px solid black;
}

.h { background-color: #ffc; }
.out { background-color: #777; }
.mark { background-color: #fdd; }
.out2 { background-color: #ccc; }