@import 'reset';
@import 'vars';
@import 'maze';
@import 'buttons';


/*
 * Basic styling 
 */
 body { 
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.375;
	font-weight: 300;
	color: #111;
	background: #F5F5F5 url("../img/subtle-grey-fixed-crushed.png") top center repeat;
	-webkit-text-size-adjust: 100%;
	touch-action: manipulation;
	border-top: 5px solid var(--accent);
}

header {
	grid-area: header;

	font-size: 40px; /* 2x body copy size = 32px */
	line-height: 1.25; /* 45px / 36px */
	text-align: center;
	font-weight: bold;
	margin: 10px auto;
}

table.maze-table {
	grid-area: maze-table;
}


#shortcuts h2  {
	text-align: center;
	font-weight: bold;
}
#shortcuts {
	grid-area: shortcuts;
}

footer {
	grid-area: footer;
	display: grid;
}

a {
	color: var(--accent);
	text-decoration: none;
	font-weight: bold;
}

@media (min-width:600px) {
	p, h2 {
		font-size: 20px;
		// font-size: 2vh;
		margin: 10px auto;	
		width: 90%;
	}

	article {
		/* margin: 0px auto; */
		/* box-align: center; */
		width: 90%;
		margin: 20px auto;
		display: grid;
		grid-template-areas: 
				"header 			header					maze-game "
				"game-description	game-description		maze-game"
				"game-buttons		shortcuts				maze-game"
				"footer				footer					maze-game"
				"play-again 		play-again				maze-game"
				".					.						maze-game";
				
	}	

	table.maze-table {
		width: 43vw;
		height: 43vw;
	}
	table.maze-table td {
		font-size: 2vw;
		display: inline-block;
		width: 4vw;
		height: 4vw;
		border: 1px solid #fff;
		text-align: center;
		vertical-align: middle;
		display: table-cell; 
	}


}

@media (max-width:599px) {
	p, h2 {
		font-size: 5vw;
		// font-size: 2vh;
		margin: 10px auto;	
		width: 90%;
	}

	article {
		/* margin: 0px auto; */
		/* box-align: center; */
		width: 90%;
		margin: 0px auto;
		display: grid;
		grid-template-areas:
				"header"
				"game-description"
				"game-buttons"
				"play-again"
				"maze-game"
				"footer";
	}	

	#shortcuts {
		display: none;
	}

	table.maze-table {
		width: 90vw;
		height: 90vw;
		// width: 100%;
		// height: 100%;
		margin: 0px auto;
	}
	table.maze-table td {
		font-size: 4vw;
		display: inline-block;
		width: 8vw;
		height: 8vw;
		border: 1px solid #fff;
		text-align: center;
		vertical-align: middle;
		display: table-cell; 
	}

}

section#game-description {
	grid-area: game-description;
	// text-align: justify;
	line-height: 1.25;
	// margin: 0 0 20px 0;
}

section#play-again {
	grid-area: play-again;
	/* line-height: 1.25; */
	/* margin: 0 0 20px 0; */
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	// display: none;
}

#maze-game {
	grid-area: maze-game;
	// display: grid;
	// grid-template-areas:
	//  "mazeHeader"
	//  "maze";
	// margin: 20px auto;
	text-align: center;
}

.maze-header {
	grid-area: maze-header;
	display: grid;
	grid-template-areas:
	 ". . down season up . .";
	margin: 10px 0;
}

.layer-name {
	grid-area: season;
	text-align: center;
	font-size: 40px; /* 1.375x body copy size = 22px */
	line-height: 1.13636364; /* 25px / 22px */
	text-transform: capitalize;
	font-weight: bold;

}

// Description Section prettyness
i.season-description::before {
	background: url("../img/down.png");
	background-size: 12px 12px;
	display: inline-block;
	content: "";
	width: 12px;
	height: 12px;
	margin: 0 3px 0 0;
}

i.season-description::after {
	background: url("../img/up.png");
	background-size: 12px 12px;
	display: inline-block;
	content: "";
	width: 12px;
	height: 12px;
	margin: 0 0 0 3px;
}

i.controls-description::after {
	background: url("../img/controls.png");
	background-size: 14px 14px;
	display: inline-block;
	content: "";
	width: 14px;
	height: 14px;
	margin: 0 0 0 3px;
}

i.end-description::after {
	content: "\01F3C1";
	font-size: 12px;
	width: 8px;
	height: 8px;
	margin: 0 0 0 3px;
}